/* Reset some default styles */
/* //fonts/// */
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
/* //fonts/// */

* {
  box-sizing: border-box;

}
:root {
  --color-nav: #1F5B61;
  --color-text: #4F4F4F;
  --bg-nav: linear-gradient(to right, #DECDDE, #EEDBEE);
  --bg-btn:linear-gradient(to left, #F0DDF0, #D9CDD9);
  --bg-shdow:0 4px 10px #C8B8C8, 0 2px 5px #D5C4D5;
  --color-active: #9D321E;
  --bg-lang: #D9CDD9;
  --bg-color: #EEDBEE;
  --text-color: #000000;
  --text-blance:#000000;
  --bg-of:#E8D8E8;
  --bg-input:linear-gradient(to right,#E3CBE3,#F0DDF0);
}

[data-theme="dark"] {
  --color-nav: #A8A8A8;
  --bg-nav: linear-gradient(to right, #3C3D3E, #3C3D3E);
  --bg-shdow:0 4px 10px #1B1B1B, 0 2px 5px #1B1B1B;
  --bg-btn:linear-gradient( #D9D9D9);
  --bg-input:linear-gradient(to right,#6F6F6F,#3C3D3E);
  --text-blance:#000000;

  --color-text: #E0E0E0;
  --color-active: #F6F6F6;
  --bg-lang: #3A3A3A;
  --bg-of:#3A3A3A;
  --bg-color: #121212;
  --text-color: #fff;
}

.theme-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.dark-icon {
  display: none;
}

[data-theme="dark"] .light-icon {
  display: none;
}

[data-theme="dark"] .dark-icon {
  display: inline;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  overflow-x: hidden;
  position: relative; 
  transition: background-color 0.3s, color 0.3s;
}

/* body::after {
  content: "";
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 500px;
  opacity: 0.1; 
  pointer-events: none; 
  z-index: 0;
} */

/* //start navbar/// */
.navbar-brand img {
  max-width: 70px;
}

.navbar-nav {

  overflow: hidden;
  /* padding: 10px 0; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.navbar-a{
  border: 1px solid #D9CDD9;
  background:var(--bg-nav);
  box-shadow:var(--bg-shdow) ;
  border-radius:16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.navbar-nav .nav-item {
  margin: 0 10px;
 
}
.navbar-nav .nav-item a {
  color: var(--color-nav);

  padding: 3px 20px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}
.active {
  color: var(--color-active) !important;
  font-weight: bold;
  border-radius: 24px;
  padding: 3px 20px;
}

.btn-trans{
  border: 1px solid #BE9FBE;
  height: 40px;
  width: 100px;
  background: var(--bg-btn);
  border-radius: 8px;
  color: var(--text-blance) !important;
}

.dropdown-menu{
  background: var(--bg-btn);
  width: 206px;
  border: 1px solid #BE9FBE;
  border-radius: 8px;
margin: 10px 0;

}
.dropdown-menu li span{
  font-size: 13px;
  color: var(--text-blance) !important;

}
.offcanvas {
width: 70vw !important;
border: 1px solid #BE9FBE;
background: var(--bg-of);
}
.nav-item-a{
  font-size: 16px ;
margin: 16px 0;
text-align: center;
color: var(--color-nav);
}
.dropdown-item{
  color: var(--text-color) !important;
  font-size: 13px;
}
#darkModeToggle {
  position: relative;
  z-index: 9999;
}


@media (max-width:799px) {
  .navbar-nav .nav-item a {
    color: var(--color-nav);
    padding: 3px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    font-size: 9px;
}
.btn-trans{
width: 70px;

}
.navbar-nav .nav-item {
  margin: 0 ;
 
}
.navbar-brand img{
  max-width: 41px;
}
}
@media (max-width:992px) {
  .navbar-nav .nav-item a {
    color: var(--color-nav);
    padding: 3px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    font-size: 9px ! important;
}
.btn-trans{
width: 70px;

}
.navbar-nav .nav-item {
  margin: 0 ;
 
}
.navbar-brand img{
  max-width: 41px;
}
}
@media (max-width:1024px) {
  .navbar-nav .nav-item a {
   
    font-size: 11px;
}

}
/* //end navbar/// */

/* start header//// */
.box-search{
  position: relative;
  z-index: 2;
}
.box-search input {
  border: 1px solid #D8B5D8;
  background: var(--bg-input);
  box-shadow: var(--bg-shdow);
  border-radius: 8px;
  width: 100%;
  max-width: 141px;
  height: 40px;
  padding: 0 25px 0 10px; 
  transition: max-width 0.3s ease;
  outline: none;
}

.box-search input.expanded {
  max-width: 300px;
}

.box-search i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  transition: opacity 0.3s ease;
  color: #777;
}
.data-users{
  border: 1px solid #D8B5D8;
  background: var(--bg-input);
  box-shadow: var(--bg-shdow);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 100%;
  height: 100%;
  max-width: 259px;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
}
@media (max-width:477px) {
  .box-search input {
    border: 1px solid #D8B5D8;
    background: var(--bg-input);
    box-shadow: var(--bg-shdow);
    border-radius: 8px;
    width: 100%;
    max-width: 431px;
    height: 40px;
    padding: 0 25px 0 10px;
    transition: max-width 0.3s ease;
    outline: none;
    margin: auto;
}
.box-search input.expanded {
  max-width: 500px !important;
}
.box-search{
  width: 340px;
  margin: auto;
}
}
/* end header//// */

/* start Services */


/* end Services */

/* media screen/// */
