/* Reset some default styles */
/* //fonts/// */
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");
/* //fonts/// */

* {
  box-sizing: border-box;
}
:root {
  --color-nav: #1f5b61;
  --color-mod: #1f5b61;
  --color-text: #4f4f4f;
  --color-lable:#1f5b61;
  --color-footer:#131313;
  --bg-fo:#F6E5F6;
  --bg-nav: linear-gradient(to right, #decdde, #eedbee);
  --bg-btn: linear-gradient(to left, #f0ddf0, #d9cdd9);
  --bg-shdow: 0 4px 10px #c8b8c8, 0 2px 5px #d5c4d5;
  --color-active: #9d321e;
  --bg-lang: #d9cdd9;
  --bg-color: #eedbee;
  --text-color: #000000;
  --text-blance: #000000;
  --bg-of: #e8d8e8;
  --bg-input: linear-gradient(to right, #e3cbe3, #f0ddf0);
  --bg-ser2: linear-gradient(to right, #f5eff5, #cbafcb);
  --activ-tab: linear-gradient(to right, #f3e6f3, #d5b1d5);
  --activ-tab2:linear-gradient(to right, #F3E6F3, #8F8A8F);
  --bor-ser: #cdb2cd;
  --bg-ser1: #f7ebdb;
  --c-ser1: #b65948;
  --c-ser2: #9e4232;
  --borr: #cdb2cd;
  --bg-mod: #eedeee;
}

[data-theme="dark"] {
  --bg-mod: #3b3b3b;
  --color-mod: #f6f6f6;
  --color-footer:#f6f6f6;
  --bg-fo:#3c3d3f;

  --color-nav: #a8a8a8;
  --bg-nav: linear-gradient(to right, #3c3d3e, #3c3d3e);
  --bg-shdow: 0 4px 10px #1b1b1b, 0 2px 5px #1b1b1b;
  --activ-tab: linear-gradient(#d9d9d9);
  --activ-tab2: linear-gradient(#d9d9d9);

  --bg-btn: linear-gradient(#d9d9d9);
  --bg-input: linear-gradient(to right, #6f6f6f, #3c3d3e);
  --bg-ser2: linear-gradient(to right, #3c3d3e, #7f7f7f);
  --c-ser2: #0c1011;
  --text-blance: #000000;
  --borr: #0c1011;
  --bor-ser: #dbf0f6;
  --c-ser1: #f6f6f6;
  --bg-ser1: #3c3d3e;
  --color-text: #e0e0e0;
  --color-active: #f6f6f6;
  --bg-lang: #3a3a3a;
  --bg-of: #3a3a3a;
  --bg-color: #121212;
  --text-color: #fff;
  --color-lable:#fff;

}

.theme-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.dark-icon {
  display: none;
}

[data-theme="dark"] .light-icon {
  display: none;
}

[data-theme="dark"] .dark-icon {
  display: inline;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  overflow-x: hidden;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

/* body::after {
  content: "";
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 500px;
  opacity: 0.1; 
  pointer-events: none; 
  z-index: 0;
} */

/* //start navbar/// */
.navbar-brand img {
  max-width: 70px;
}

.navbar-nav {
  overflow: hidden;
  /* padding: 10px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-a {
  border: 1px solid #d9cdd9;
  background: var(--bg-nav);
  box-shadow: var(--bg-shdow);
  border-radius: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.navbar-nav .nav-item {
  margin: 0 10px;
}
.navbar-nav .nav-item a {
  color: var(--color-nav);

  padding: 3px 20px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}
.active {
  color: var(--color-active) !important;
  font-weight: bold;
  border-radius: 24px;
  padding: 3px 20px;
}

.btn-trans {
  border: 1px solid #be9fbe;
  height: 40px;
  width: 100px;
  background: var(--bg-btn);
  border-radius: 8px;
  color: var(--text-blance) !important;
}

.dropdown-menu {
  background: var(--bg-btn);
  width: 206px;
  border: 1px solid #be9fbe;
  border-radius: 8px;
  margin: 10px 0;
}
.dropdown-menu li span {
  font-size: 13px;
  color: var(--text-blance) !important;
}
.offcanvas {
  width: 70vw !important;
  border: 1px solid #be9fbe;
  background: var(--bg-of);
}
.nav-item-a {
  font-size: 16px;
  margin: 16px 0;
  text-align: center;
  color: var(--color-nav);
}
.dropdown-item {
  color: var(--text-color) !important;
  font-size: 13px;
}
#darkModeToggle {
  position: relative;
  z-index: 9999;
}

@media (max-width: 799px) {
  .navbar-nav .nav-item a {
    color: var(--color-nav);
    padding: 3px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    font-size: 9px;
  }
  .tab-content{
    width: 500px !important;
  }
  .btn-trans {
    width: 70px;
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  .navbar-brand img {
    max-width: 41px;
  }
}
@media (max-width: 992px) {
  .navbar-nav .nav-item a {
    color: var(--color-nav);
    padding: 3px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    font-size: 9px !important;
  }
  .tab-content{
    width: 500px !important;
  }
  .btn-trans {
    width: 70px;
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  .navbar-brand img {
    max-width: 41px;
  }
}
@media (max-width: 1024px) {
  .navbar-nav .nav-item a {
    font-size: 11px;
  }
}
/* //end navbar/// */

/* start header//// */
.box-search {
  position: relative;
  z-index: 2;
}
.box-search input {
  border: 1px solid #d8b5d8;
  background: var(--bg-input);
  /* box-shadow: var(--bg-shdow); */
  border-radius: 8px;
  width: 100%;
  max-width: 141px;
  height: 40px;
  padding: 0 25px 0 10px;
  transition: max-width 0.3s ease;
  outline: none;
}

.box-search input.expanded {
  max-width: 300px;
}

.box-search i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  transition: opacity 0.3s ease;
  color: #777;
}
.data-users {
  border: 1px solid #d8b5d8;
  background: var(--bg-input);
  /* box-shadow: var(--bg-shdow); */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 100%;
  height: 100%;
  max-width: 259px;
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
}
@media (max-width: 477px) {
  .box-search input {
    border: 1px solid #d8b5d8;
    background: var(--bg-input);
    /* box-shadow: var(--bg-shdow); */
    border-radius: 8px;
    width: 100%;
    max-width: 431px;
    height: 40px;
    padding: 0 25px 0 10px;
    transition: max-width 0.3s ease;
    outline: none;
    margin: auto;
  }
  .box-search input.expanded {
    max-width: 500px !important;
  }
  .box-search {
    width: 340px;
    margin: auto;
  }
  .tabs {
    display: none !important;
  }
}
/* end header//// */

/* start Services */
.tabs {
  border: 1px solid var(--bor-ser);
  padding: 2px;
  list-style: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--color-text);
  cursor: pointer;
}
.active-tab {
  color: #0c1011;
  background: var(--activ-tab);
  width: 144px;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.box-ser1 {
  background-color: var(--bg-ser1);
  border: 1px solid var(--borr);
  border-radius: 8px;
  height: 209px;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  max-width: 193px;
  margin: auto;
}
.box-ser2 {
  background: var(--bg-ser2);
  border: 1px solid var(--borr);
  border-radius: 8px;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  max-width: 193px;
  height: 209px;
  margin: auto;
}
.text-ser1 h3 {
  color: var(--c-ser1);
  font-size: 22px;
}
.text-ser2 h3 {
  color: var(--c-ser2);
  font-size: 22px;
}
.num-blance {
  color: var(--c-ser2);
  font-size: 18px;
  background-color: #ebdfeb;
  border: 1px solid #cdb2cd;
  border-radius: 8px;
  padding: 5px 10px;
  position: absolute;
  top: 188px;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bg-mod);
  background-clip: padding-box;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
.title-m {
  color: var(--color-active);
  font-size: 22px;
}
.textlabel {
  color: var(--color-lable);
}
.btn-pay {
  color: #0c1011;
  background: var(--activ-tab);
  box-shadow: var(--bg-shdow);
  width: 243px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
.btn-login{
  color: #0c1011;
  background: var(--activ-tab);
  box-shadow: var(--bg-shdow);
  width: 355px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
.btn-submit{
  color: #0c1011;
  background: var(--activ-tab);
  box-shadow: var(--bg-shdow);
  width: 189px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
.btn-submit2{
  color: #0c1011;
  background: var(--activ-tab2);
  box-shadow: var(--bg-shdow);
  width: 189px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
.textpay {
  color: #21691f;
}
.hidden-box {
  display: none;
  background-color: white;
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  width: 262px;
  height: 182px;
  position: absolute;
  left: 56px;
  top: 62px;
  z-index: 22;
  text-align: center;
}
.form-control {
  background: transparent;
  border: 1px solid var(--borr);
  border-radius: 8px;
}
.form-select {
  background: transparent;
  border: 1px solid var(--borr);
  border-radius: 8px;
  width: 188px;
}
/* end Services */
/* start login page////// */
.tab-content{
  background: var(--bg-fo);
  padding: 20px;
  border-radius: 16px;
  box-shadow: var(--bg-shdow);
  width: 800px;
  margin: auto;
}
.taps-form {
  color: #566668;
  cursor: pointer;
}
.active-tab-form {
  color: var( --color-mod);
  text-decoration: underline;
  font-size: 20px;
}
.center-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.opt label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1F5B61;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-inputs input {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.otp-inputs input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.numes{
  width: 268px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: #F7E7F5;
}
.pas{
  width: 405px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: #F7E7F5;
}

 .phone {
  width: 348px;
  height: 48px;
  text-align: end;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: #F7E7F5;
 }
 .newpas{
  width: 348px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: #F7E7F5;
 }
 #password {
  /* width: 348px; */
  height: 48px;
  text-align: start;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: #F7E7F5;

 }
 .phone::placeholder{
  text-align: end;
  color: #21691f;
 }
 #password::placeholder{
  text-align: center;
  color: #21691f;
 }
 .password-container {
  position: relative;
  width: 348px; 
  margin: auto;
}

.password-container input {
  width: 100%;
  padding-left: 40px; 
}

.toggle-password {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.toggle-password{
  color: #1f5b61;
}
@media (max-width:477px) {
  .pas{
    width: 268px;
  }
  .btn-login , .btn-pay ,.btn-submit ,.btn-submit2{
    color: #0c1011;
    background: var(--activ-tab);
    box-shadow: var(--bg-shdow);
    width: 255px;
    padding: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    border: none;
}
.tab-content{
  width: auto;
}
.password-container {
  position: relative;
  width: 262px;
  margin: auto;
}
.phone {
  width: 268px;
  height: 48px;
  text-align: end;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: #F7E7F5;
}
}


/* end login page////// */
/* start footer//// */
.link-footer a{
  color: var(--color-footer);
  font-size: 14px;
}
.capy{
  margin-top: -15px;
}
@media (max-width:477px) {
  .groupicon{
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .link-footer a{
    color: var(--color-footer);
    font-size: 12px;
  }
  .logo-footer{
    max-width: 40px;
  }
  .capy{
    margin-top: -18px;
    font-size: 12px;
  }
}
/* end footer//// */
/* start tranfer page//// */
.box_transfer{
  background: var(--bg-fo);
  padding: 20px;
  border-radius: 16px;
  box-shadow: var(--bg-shdow);
  width: 772px;
  margin: auto;
}
.form-selects{
  width: 442px;
  height: 48px;
  border: 1px solid #CDB2CD;
  border-radius: 8px;
 background-color: #FFF4EA1A;
 
}
.trasn{
  padding: 60px 0;
}
@media (max-width:477px) {
  .form-selects {
    width: 298px;
   ;
}
.tab-content{
  width: 345px !important;
  margin: auto;
}
.box_transfer {
  margin: auto;
  width: 335px !important;
 
}
}
/* end tranfer page//// */