/* Reset some default styles */
/* //fonts/// */
@import url("https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap");
/* //fonts/// */

* {
  box-sizing: border-box;
}
/* html, body {
  height: 100%;
  margin: 0;
} */
.no-transition * {
  transition: none !important;
}
:root {
  --color-nav: #1f5b61;
  --color-mod: #1f5b61;
  --color-footer:#131313;
  --data-color:#4F4F4F;
  --color-text: #4f4f4f;
  --bg-user:#D9C3D9;
  --bg-footer:#EEDEEE;
  --color-lable:#1f5b61;
  --bg-gggg:#EEDCEE;
  --bg-nav: linear-gradient(to right, #decdde, #eedbee);
  --bg-btn: linear-gradient(to left, #f0ddf0, #d9cdd9);
  --bg-shdow: 0 4px 10px #c8b8c8, 0 2px 5px #d5c4d5;
  --color-active: #9d321e;
  --bg-lang: #d9cdd9;
  --bg-color: #eedbee;
  --text-color: #000000;
  --text-blance: #000000;
  --bg-of: #e8d8e8;
  --bg-input: linear-gradient(to right, #e3cbe3, #f0ddf0);
  --bg-ser2: linear-gradient(to right, #f5eff5, #cbafcb);
  --activ-tab: linear-gradient(to right, #f3e6f3, #d5b1d5);
  --bor-ser: #cdb2cd;
  --bg-ser1: #f7ebdb;
  --c-ser1: #b65948;
  --c-ser2: #9e4232;
  --borr: #cdb2cd;
  --bg-mod: #eedeee;
  --bg-fo:#F6E5F6;
}

[data-theme="dark"] {
  --bg-mod: #3b3b3b;
  --bg-user:#d9d9d9;
  --color-mod: #f6f6f6;
  --color-footer:#fff;
  --bg-footer:#3c3d3f;
  --bg-fo:#3c3d3f;
  --data-color:#fff;
  --color-nav: #a8a8a8;
  --bg-nav: linear-gradient(to right, #3c3d3e, #3c3d3e);
  --bg-shdow: 0 4px 10px #1b1b1b, 0 2px 5px #1b1b1b;
  --activ-tab: linear-gradient(#d9d9d9);
  --bg-gggg:#a8a8a8;

  --bg-btn: linear-gradient(#d9d9d9);
  --bg-input: linear-gradient(to right, #6f6f6f, #3c3d3e);
  --bg-ser2: linear-gradient(to right, #3c3d3e, #7f7f7f);
  --c-ser2: #0c1011;
  --text-blance: #000000;
  --borr: #0c1011;
  --bor-ser: #dbf0f6;
  --c-ser1: #f6f6f6;
  --bg-ser1: #3c3d3e;
  --color-text: #e0e0e0;
  --color-active: #f6f6f6;
  --bg-lang: #3a3a3a;
  --bg-of: #3a3a3a;
  --bg-color: #121212;
  --text-color: #fff;
  --color-lable:#F6F6F6;
}

.theme-toggle button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.dark-icon {
  display: none;
}

[data-theme="dark"] .light-icon {
  display: none;
}

[data-theme="dark"] .dark-icon {
  display: inline;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  overflow-x: hidden;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}
.offcanvas-body {
  flex-grow: 1;
  padding: 0 !important;
  overflow-y: auto;
  border: 1px solid var(--bor-ser);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
/* body::after {
  content: "";
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 500px;
  opacity: 0.1; 
  pointer-events: none; 
  z-index: 0;
} */

/* //start navbar/// */
.navbar-brand img {
  max-width: 70px;
}
.btn-close {
  background: none !important; 
  color: #000 !important;
  font-size: 1.2rem;
  opacity: 0.7;
}
.clll{
  color: var(--text-color);
}
.btn-close:hover {
  opacity: 1;
}

.navbar-nav {
  overflow: hidden;
  /* padding: 10px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-a {
  border: 1px solid var(--bor-ser);
    background: var(--bg-nav);
  box-shadow: var(--bg-shdow);
  border-radius: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}
.navbar-nav .nav-item {
  margin: 0 10px;
}
.navbar-nav .nav-item a {
  color: var(--color-nav);

  padding: 3px 20px;
  border-radius: 24px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}
.navbar-nav .nav-item-a a{
  color: var(--color-nav);

}
.active {
  color: var(--color-active) !important;
  font-weight: bold;
  border-radius: 24px;
  padding: 3px 20px;
}

.btn-trans {
  border: 1px solid #be9fbe;
  height: 40px;
  width: 100px;
  background: var(--bg-btn);
  border-radius: 8px;
  color: var(--text-blance) !important;
}
.spial{
  margin-right: 2.4rem !important;
}
.dropdown-menu {
  background: var(--bg-btn);
  width: 219px;
  border: 1px solid #be9fbe;
  border-radius: 8px;
  margin: 10px 0;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -127px;
  margin-top: .99rem !important;
}
.dropdown-menu li{
  margin-bottom: 10px;
}
.dropdown-menu li span {
  font-size: 13px;
  color: var(--text-blance) !important;
}
.offcanvas {
  width: 70vw !important;
  border: 1px solid #be9fbe;
  background: var(--bg-of);
}
.nav-item-a {
  font-size: 16px;
  margin: 16px 0;
  text-align: center;
  color: var(--color-nav);
}
.dropdown-item {
  color: var(--text-color) !important;
  font-size: 13px;
}
#darkModeToggle {
  position: relative;
  z-index: 9999;
}

@media (max-width: 799px) {
  .navbar-nav .nav-item a {
    color: var(--color-nav);
    padding: 3px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    font-size: 9px;
  }
  .numes{
    width: 377px !important;
  }
  .tab-content{
    width: 500px !important;
  }
  .btn-trans {
    width: 70px;
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  .navbar-brand img {
    max-width: 41px;
  }
}
@media (max-width: 992px) {
  .navbar-nav .nav-item a {
    color: var(--color-nav);
    padding: 3px 10px;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    font-size: 9px !important;
  }
  .numes{
    width: 377px !important;
  }
  .pas{
    width: 377px !important;
  }
  .tab-content{
    width: 500px !important;
  }
  .btn-trans {
    width: 70px;
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  .navbar-brand img {
    max-width: 41px;
  }
}
@media (max-width: 1024px) {
  .navbar-nav .nav-item a {
    font-size: 11px;
  }
}
/* //end navbar/// */

/* start header//// */
.box-search {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 141px;
  transition: max-width 0.3s ease;
}

.box-search input {
  border: 1px solid var(--bor-ser);
    background: var(--bg-input);
  border-radius: 8px;
  width: 100%;
  height: 40px;
  padding: 0 25px 0 10px;
  transition: all 0.3s ease;
  outline: none;
}

/* تكبير عند hover */
.box-search:hover,
.box-search input.expanded {
  max-width: 478px;
}

.box-search i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 2;
  transition: opacity 0.3s ease;
  color: #777;
}
.fomr-p{
  background: transparent;
  border: 1px solid var(--borr);
  border-radius: 8px;
  width: 188px;
}
.iti__arrow {
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
  display: none;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: none !important;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
  background-color: var(--bs-modal-footer-bg);
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);
  border: none !important;
}
.data-users {
  /* border: 1px solid #d8b5d8; */
  background: var(--bg-input);
  /* box-shadow: var(--bg-shdow); */
  border: 1px solid var(--bor-ser);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 100%;
  height: 100%;
  max-width: 259px;
  padding: 10px;
  color: var(--data-color);
  text-decoration: none;
}
.sel-phone{
  display: none !important;
}
@media (max-width: 477px) {
  .sel-phone{
    display: flex !important;
  }
  .box-search{
    max-width: 100% !important;
  }
  .data-users{
    border: none;
  }
  .box-search input {
    border: 1px solid #d8b5d8;
    background: var(--bg-input);
    /* box-shadow: var(--bg-shdow); */
    border-radius: 8px;
    width: 100%;
    max-width: 431px;
    height: 40px;
    padding: 0 25px 0 10px;
    transition: max-width 0.3s ease;
    outline: none;
    margin: auto;
  }
  .form-grid {
    grid-template-columns: 1fr !important; 
  }
  .form-select{
    width: 320px !important;
  }
  .fomr-p{
    width: 247px !important;
    height: 38px;
  }
  .hidd{
    display: none !important;
  }
  .pas{
    width: 233px !important;
  }
  .numes{
    width: 233px !important;
  }
  .box-search input.expanded {
    max-width: 500px !important;
  }
  .spial {
    margin-right: 4.5rem !important;
}
  .box-search {
    width: 340px;
    margin: auto;
  }
  .tabs {
    display: none !important;
  }
  .btn-trans{
    width: 86px !important;
  }
  .dropdown-menu {
    left: -61px !important;
    margin-top: var(--bs-dropdown-spacer);
}
}
/* end header//// */

/* start Services */
.tabs {
  border: 1px solid var(--bor-ser);
  padding: 2px;
  list-style: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--color-text);
  scrollbar-width: thin;
  scrollbar-color: var(--activ-tab) transparent;
  overflow-x: auto;
  white-space: nowrap;
}
.tabs::-webkit-scrollbar {
  height: 6px;
}
.tabs::-webkit-scrollbar-track {
  background: transparent;
}
.tabs::-webkit-scrollbar-thumb {
  background-color: var(--activ-tab);
  border-radius: 4px;
}
.tabs li{
  cursor: pointer;
  font-weight: 800;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
  flex: 1;
  text-align: center;
  /* padding: 12px 16px; */
  border-radius: 8px;
}

.active-tab {
  color: #0c1011;
  background: var(--activ-tab);
  width: 144px;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}

.box-ser1 {
  background-color: var(--bg-ser1);
  border: 1px solid var(--borr);
  border-radius: 8px;
  height: 209px;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  max-width: 193px;
  margin: auto;
  transition: box-shadow 0.4s ease, transform 0.4s ease;
  will-change: transform, box-shadow; /* تحسين الأداء */
}

.box-ser1:hover {
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px) scale(1.01);
  -webkit-transform: translateY(-10px) scale(1.01);
  -moz-transform: translateY(-10px) scale(1.01);
  -ms-transform: translateY(-10px) scale(1.01);
  -o-transform: translateY(-10px) scale(1.01);
}
.iti__country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-fo) !important;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.box-ser2 {
  background: var(--bg-ser2);
  border: 1px solid var(--borr);
  border-radius: 8px;
  padding: 0px 10px;
  cursor: pointer;
  width: 100%;
  max-width: 193px;
  height: 209px;
  margin: auto;
  transition: box-shadow 0.3s ease; 
}

.box-ser2:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-ser1 h3 {
  color: var(--c-ser1);
  font-size: 18px;
}
.text-ser2 h3 {
  color: var(--c-ser2);
  font-size: 18px;
}
.num-blance {
  color: var(--c-ser2);
  font-size: 18px;
  background-color: #ebdfeb;
  border: 1px solid #cdb2cd;
  border-radius: 8px;
  padding: 5px 10px;
  position: absolute;
  top: 188px;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bg-mod);
  background-clip: padding-box;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}
.title-m {
  color: var(--color-active);
  font-size: 22px;
  margin-top: -16px;
}
.textlabel {
  color: var(--color-nav);
}
.btn-pay {
  color: #0c1011;
  background: var(--activ-tab);
  box-shadow: var(--bg-shdow);
  width: 243px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
.textpay {
  color: #21691f;
}
.hidden-box {
  display: none;
  background-color: var(--bg-fo);
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  width: 262px;
  height: 182px;
  position: absolute;
  left: 22px;
  top: 46px;
  z-index: 22;
  text-align: center;
}

.form-control {
  background: transparent;
  border: 1px solid var(--borr);
  border-radius: 8px;
}
.form-select {
  background: transparent;
  border: 1px solid var(--borr);
  border-radius: 8px;
  width: 188px;
}
/* end Services */
/* start login page////// */
.taps-form  {
  color: #566668;
  cursor: pointer;
}

.taps-form a:not(.active-tab-form) {
  color: #566668; 
}
.active-tab-form {
  color: var(--color-mod);
  text-decoration: underline;
  font-size: 20px;
}
.iti--separate-dial-code .iti__selected-flag {
  background: transparent !important;
position: relative;
}
.iti--separate-dial-code .iti__selected-flag::after {
  content: "";
  position: absolute;
  top: 5px; 
  bottom: 5px;
  right: 0;
  width: 2px;
  background-color: #CDB2CD;
}
.center-content {
  /* min-height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 0;
  margin: 40px 0;
  
}
.opt label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #1F5B61;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-inputs input {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background-color: var(--bg-color);
  transition: border-color 0.3s;
  color: var(--color-lable);
}
.numes{
  width: 233px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: var(--bg-color);
  color: var(--color-lable);
}
.pas{
  width: 363px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #CDB2CD;
  background-color: var(--bg-color);
}
.btn-submit{
  color: #0c1011;
  background: var(--activ-tab);
  box-shadow: var(--bg-shdow);
  width: 189px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
.tab-content{
  background: var(--bg-fo);
    padding: 20px;
  border-radius: 16px;
  box-shadow: var(--bg-shdow);
  width: fit-content !important;
  margin: auto;
}
.custom-file-input::before {
  content: 'اختر ملف';
  display: inline-block;
  background: transparent;
  border-left: 1px solid var(--color-lable);
  border-radius: 3px;
  padding: 3px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  color: var(--color-lable);
  font-weight: 800;
}
.active-pag{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F7EBDB;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagination li ,i{
  cursor: pointer;

}
.btn-submit2{
  color: #0c1011;
  background: var(--activ-tab2);
  box-shadow: var(--bg-shdow);
  width: 189px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
.otp-inputs input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
.toggle-password{
  color: #1f5b61;
}
.newpas{
  width: 348px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--bor-ser);
    background-color: var(--bg-color);
  color: var(--color-lable);
 }
@media (max-width:477px) {
  .pas{
    width: 268px;
  }
  .btn-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-login , .btn-pay ,.btn-submit ,.btn-submit2{
    color: #0c1011;
    background: var(--activ-tab);
    box-shadow: var(--bg-shdow);
    width: 255px !important;
    padding: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
    border: none;
}
.password-container {
  position: relative;
  width: 262px !important;
  margin: auto;
}
.phone {
  width: 268px !important;
  height: 48px;
  text-align: end;
  border-radius: 8px;
  border: 1px solid var(--bor-ser);
    background-color: var(--bg-color);
}
}
 .phone {
  width: 348px;
  height: 48px;
  text-align: start;
  border-radius: 8px;
  border: 1px solid var(--bor-ser);
 }
 #password {
  /* width: 348px; */
  height: 48px;
  text-align: start;
  border-radius: 8px;
  border: 1px solid var(--bor-ser);
 }
 .phone::placeholder{
  text-align: start;
  color: var(--color-lable);
 }
 .phone:focus{
  background-color: var(--bg-fo) !important;
  color: var(--color-lable);
 }
 #password::placeholder{
  text-align: center;
  color: #21691f;
 }
 .password-container {
  position: relative;
  width: 348px; 
  margin: auto;
}
.pas:focus{
  background-color: var(--bg-fo) !important;
  color: var(--color-lable);
}
.numes:focus{
  background-color: var(--bg-fo) !important;
  color: var(--color-lable);
}
.newpas:focus{
  background-color: var(--bg-fo) !important;
  color: var(--color-lable);
 }

.password-container input {
  width: 100%;
  padding-left: 40px; 
}

.toggle-password {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #666;
}
.btn-login{
  color: #0c1011;
  background: var(--activ-tab);
  box-shadow: var(--bg-shdow);
  width: 355px;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  border: none;
}
/* ///loigin page/// */
/* start footer//// */
footer{
  background-color: var(--bg-footer);
}
.footerspial {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-footer);

  
}
.link-footer a{
  color: var(--color-footer);
  font-size: 14px;
}
.capy{
  margin-top: -15px;
  color: var(--color-footer);
}
@media (max-width:477px) {
  .groupicon{
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .link-footer a{
    color: var(--color-footer);
    font-size: 12px;
  }
  .logo-footer{
    max-width: 40px;
  }
  .capy{
    margin-top: -18px;
    font-size: 12px;
  }
  .tab-content{
    width: 302px !important;
    margin: auto !important;
  }
}
/* end footer//// */
/* media screen/// */
